.carousel.slide {
  margin: auto;
  width: 100vw;
}
.d-block.w-50 {
  margin: auto;
  height: 60vh;
  aspect-ratio: auto;
  border: 6px solid #6C786B;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0% !important;
  left: 25% !important;
  padding: 1.45rem;
  text-align: center;
  background-color: #8f9edb;
  width: 50%;
  height: 100%;
}

.carousel-caption h3 {
  font-size: 5vw;
  color: #F2DCC2;
  margin-top: 13rem;
}

.carousel-caption p {
  font-weight: 600;
}

.navbar-brand {
  padding-left: 4rem;
}

h2 {
  width: 100%;
  text-align: center;
  padding: 10rem 0;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #92ce7c;
}

.card {
  width: 25vw !important;
  height: 35vw !important;
  font-size: 1.5vw;
}

.navbar:first-child {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: -2rem;
}

.navbar:last-child {
  margin-top: 8rem;
}

.nav-link {
  color: #F2DCC2;
}
.links {
  display: flex;
  gap: 20px;
}

.nav-link:hover {
  color: rgb(52, 137, 81);
}

.nav-link:visited {
  color: rgb(236, 223, 223);
}

.nav-link:visited:hover {
  color: #8e2fed;
}

@media (max-width: 1050px) {
  .card {
    width: 25vw !important;
    height: 40vw !important;
    font-size: 1.5vw;
  }
}